<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.admob.plugin"
    version="1.0.40">
	
    <name>Cordova Admob plugin</name>
    <description>Cordova admob plugin.</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova, phonegap, plugin, ad, admob, overlap, split</keywords>
    <repo>https://github.com/yojona/phonegap-plugin-ad-admob</repo>
    <issue>https://github.com/yojona/phonegap-plugin-ad-admob/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <js-module src="www/admob.js">
        <clobbers target="window.admob" />
    </js-module>
	
    <platform name="android">	
		
	    <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Admob" >
                <param name="android-package" value="com.cranberrygame.cordova.plugin.ad.admob.Admob"/>
            </feature>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
			    android:name="com.google.android.gms.ads.AdActivity" />
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>		

	
        <source-file src="src/android/Admob.java" target-dir="src/com/cranberrygame/cordova/plugin/ad/admob" />		

    </platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Admob">
				<param name="ios-package" value="Admob" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		
		<header-file src="src/ios/Admob.h" />
		<source-file src="src/ios/Admob.m" />

		<header-file src="src/ios/GADAdMobExtras.h" />
		<header-file src="src/ios/GADAdNetworkExtras.h" />
		<header-file src="src/ios/GADAdSize.h" />
		<header-file src="src/ios/GADBannerView.h" />
		<header-file src="src/ios/GADBannerViewDelegate.h" />
		<header-file src="src/ios/GADInAppPurchase.h" />
		<header-file src="src/ios/GADInAppPurchaseDelegate.h" />
		<header-file src="src/ios/GADInterstitial.h" />
		<header-file src="src/ios/GADInterstitialDelegate.h" />
		<header-file src="src/ios/GADModules.h" />
		<header-file src="src/ios/GADRequest.h" />
		<header-file src="src/ios/GADRequestError.h" />
		<source-file src="src/ios/libGoogleAdMobAds.a" framework="true" />

 	    <framework src="StoreKit.framework" />
 	    <framework src="AudioToolbox.framework" />
        <framework src="MessageUI.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="AdSupport.framework" />
        <framework src="CoreTelephony.framework" />
		<framework src="EventKit.framework" />
		<framework src="EventKitUI.framework" />		
	</platform>
	
    <platform name="wp8">
		<config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
			<Capability Name="ID_CAP_IDENTITY_USER" />
			<Capability Name="ID_CAP_NETWORKING" />
			<Capability Name="ID_CAP_WEBBROWSERCOMPONENT" />
			<Capability Name="ID_CAP_PHONEDIALER" />
			<Capability Name="ID_CAP_MEDIALIB_PHOTO" />
        </config-file>
		
        <config-file target="config.xml" parent="/*">
            <feature name="Admob">
                <param name="wp-package" value="Admob"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/Admob.cs" />
		
		<framework src="src/wp8/GoogleAds.dll" custom="true" />
    </platform>
</plugin>